@import './normalize.scss';
@import './variable.scss';
@import './mixin.scss';

// 公用样式
html,
body {
  font-family: 'PingFang SC', '微软雅黑', 'Microsoft YaHei', Helvetica,
    'Helvetica Neue', Tahoma, Arial, sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // color: $my-theme-primary-color;
}
// 滚动条整体部分，可以设置宽度
::-webkit-scrollbar {
  width: 12px;
  /*高宽分别对应横竖滚动条的尺寸*/
  height: 12px;
  background: #fff;
}

// 外层轨道 {
::-webkit-scrollbar-track {
  background: #fff;
}

// 滚动的滑块
::-webkit-scrollbar-thumb {
  border-radius: 6px;
  // background: $red;
}
